<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="insert_imu" params="base_name parent_name x y z">
        <joint name="${base_name}_joint" type="fixed">
            <parent link="${parent_name}"/>
            <child link="${base_name}"/>
            <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
        </joint>

        <link name="${base_name}"/>
        


        <gazebo reference="${base_name}">
          <sensor name="${base_name}" type="imu">
          <always_on>1</always_on>
          <update_rate>1</update_rate>
          <visualize>true</visualize>
          <topic>${base_name}</topic>
          </sensor>
        </gazebo>
    </xacro:macro>


</robot>