<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="material_blue">
        <material name="blue">
            <color rgba="0.2 0.2 1 1"/>
        </material>
    </xacro:macro>

    <xacro:macro name="insert_sonar" params="base_name parent_name x y z rx ry rz mass min_range max_range resolution visualize">

        <joint name="${base_name}_joint" type="fixed">
            <parent link="${parent_name}"/>
            <child link="${base_name}"/>
            <origin xyz="${x} ${y} ${z}" rpy="${rx} ${ry} ${rz}"/>
        </joint>

        <link name="${base_name}">
            <visual>
                <origin xyz="0 0.01 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder radius="0.006" length="0.006"/>
                </geometry>
                <xacro:material_blue/>
            </visual>
            <collision>
                <origin xyz="0 0.01 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder radius="0.006" length="0.006"/>
                </geometry>
            </collision>

            <visual>
                <origin xyz="0 -0.01 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder radius="0.006" length="0.006"/>
                </geometry>
                <xacro:material_blue/>
            </visual>
            <collision>
                <origin xyz="0 -0.01 0" rpy="0 ${pi/2} 0"/>
                <geometry>
                    <cylinder radius="0.006" length="0.006"/>
                </geometry>
            </collision>

            <xacro:inertial_cylinder mass="${mass}" length="0.006" radius="0.006">
                <origin xyz="0 0.01 0" rpy="0 ${pi/2} 0"/>
            </xacro:inertial_cylinder>
        </link>
    </xacro:macro>

  
</robot>





